.card {
  width: 200px; /* Ajusta según tus necesidades */
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
}
