.search-bar {
  display: flex;
  align-items: center;
  position: relative; 
}

.search-bar input {
  padding: 0.75rem 1rem 0.75rem 2.5rem; 
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--main-text-color);
  border-radius: 20px;
  outline: none;
  transition: background-color var(--card-transition),
    border-color var(--card-transition), width var(--card-transition);
  width: 150px;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-bar input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.7);
  width: 300px; 
}

.search-icon {
  position: absolute;
  left: 10px;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none; 
}
